@import "tailwindcss";

@theme {
  --color-primary: #006d77;
  --color-secondary: #042e3a;
  --color-tertiary: #073846;
  --color-texto: #4f4f4f;
  --color-subtitle: #999;
  --color-subtitle: #727272;
  --font-roboto: "Roboto", sans-serif;
}

h1 {
  @apply text-4xl lg:text-5xl xl:text-6xl font-bold leading-tight text-secondary;
}

h2 {
  @apply text-3xl lg:text-4xl xl:text-5xl font-bold leading-snug;
}

h3 {
  @apply text-xl lg:text-2xl xl:text-3xl font-bold leading-snug;
}

:root {
  --color-primary: #006d77;
  --color-secondary: #042e3a;
  --color-secondary: #172728;
  --color-tertiary: #073846;
  --color-tertiary: #153e42;
  --color-text: #4f4f4f;
  --color-subtitle: #999;
  --color-subtitle: #727272;
}

body {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.baqu {
  background-color: rgba(200, 222, 225, 1);

  background-image: linear-gradient(
      90deg,
      rgba(200, 222, 225, 0.7),
      rgba(218, 233, 235, 0.7)
    ),
    url("./src/img/gplay.png");
}

.testes {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 54.18%,
    2% 59.2%,
    4% 64.2%,
    6% 69.09%,
    8% 73.81%,
    10% 78.27%,
    12% 82.4%,
    14% 86.15%,
    16% 89.44%,
    18% 92.24%,
    20% 94.49%,
    22% 96.16%,
    24% 97.22%,
    26% 97.65%,
    28% 97.46%,
    30% 96.64%,
    32% 95.21%,
    34% 93.18%,
    36% 90.59%,
    38% 87.49%,
    40% 83.91%,
    42% 79.92%,
    44% 75.58%,
    46% 70.95%,
    48% 66.12%,
    50% 61.15%,
    52% 56.13%,
    54% 51.13%,
    56% 46.24%,
    58% 41.52%,
    60% 37.07%,
    62% 32.93%,
    64% 29.19%,
    66% 25.89%,
    68% 23.1%,
    70% 20.85%,
    72% 19.18%,
    74% 18.12%,
    76% 17.68%,
    78% 17.87%,
    80% 18.69%,
    82% 20.13%,
    84% 22.15%,
    86% 24.74%,
    88% 27.85%,
    90% 31.42%,
    92% 35.41%,
    94% 39.76%,
    96% 44.38%,
    98% 49.21%,
    100% 54.18%
  );
  background-color: rgba(200, 222, 225, 1);
  background-image: linear-gradient(
      90deg,
      rgba(200, 222, 225, 0.7),
      rgba(218, 233, 235, 0.7)
    ),
    url("./src/img/gplay.png");
}

.bacq:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(200, 222, 225, 0.85),
      rgba(218, 233, 235, 0.85)
    ),
    url("./src/img/bg.jpg");
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 225, 0.85),
      rgba(255, 255, 235, 0.85)
    ),
    url("./src/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.bacqa:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(248, 249, 250, 0.85),
      rgba(248, 249, 250, 0.85)
    ),
    url("./src/img/bg.jpg");
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("./src/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-bg {
  position: relative;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./src/img/slider1.jpg"); */
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./src/img/image.webp");
  /* background-image: url("/src/img/slider1.jpg"); */
  background-size: cover;
  background-position: center;
  background-position: center 20%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

a.rounded-lg,
a.rounded {
  box-shadow: 0 4px 6px rgba(42, 59, 68, 0.1);
  background: linear-gradient(
    135deg,
    var(--color-primary),
    #13a2af,
    var(--color-primary)
  );
  background-size: 200%;
  transition: all 0.4s ease;
}

a.rounded-lg:hover,
a.rounded:hover {
  background-position: right center;
  box-shadow: 0 6px 10px rgba(42, 59, 68, 0.1);
}

.teste {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 109, 119, 0.8),
    rgba(0, 109, 119, 1)
  );
}
